/*All content effects*/
*{
  font-family: Helvetica;
  font-size:22px;
  color: seashell;
  background-color:black;

}

/*Header styling*/
header .toppage{
display:flex;
height: 69px;
max-width: auto;
border-bottom: 1px solid seashell;
position: fixed;
top: 0;
align-items: center;

}

/*Logo styling*/
div.logo{
display: flex;
height: 50px;
margin-left: 10px;
}

/*Navigation*/
div nav{
  display:flex;
  height: auto;
  width: 1190px;
  margin-top: 11px;
  justify-content: flex-end;
}

/*Individual links in the navigation*/
.clank{
margin-left: 10px;
margin-right: 13px;
}

/*Big picture section*/

.first{
  display: flex;
  flex-direction: row;
  width: 1300px;
  height: 800px;
  border: 1px solid red;
  justify-content: center;
}
.pictureframe{
  display: flex;
  width: 1200px;
  height: 700px;
  background-image: url(../resources/images/img-mission-background.jpg);
  justify-content: center;
  align-items: center;
}

.blackbox{
  display: flex;
  width: 1200px;
  height: 90px;
  justify-content: center;
  flex-direction: column;

}

.ourmission {
  display: flex;
  align-items: center;
  align-self: center;
}

.ourmission h2{
  display: flex;
  align-self: center;
  font-size: 32px;
}

.statement{
  display: flex;
  align-self: center;
  align-items: center;



}

/*Link underline*/
 a{
  text-decoration:underline;
}
